@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 220 27% 98%;
      --foreground: 210 29% 11%;

      --card: 220 27% 98%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
      
      --primary: 43 88% 64%;
      --primary-foreground: 210 7% 11%;
      
      --secondary: 217 32% 92%;
      --secondary-foreground: 217 30% 35%;
      
      --muted: 217 32% 92%;
      --muted-foreground: 217 30% 35%;
      
      --accent: 217 32% 92%;
      --accent-foreground: 217 30% 35%;
      
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
      
      --border: 217 32% 86%;
      --input: 217 32% 86%;
      --ring: 217 32% 86%;

      --radius: 0.5rem;
    }

    .dark {
      --background:  208 31% 11%;
      --foreground: 220 27% 98%;

      --card: 205 32% 16%;
      --card-foreground: 220 27% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 43 88% 64%;
      --primary-foreground: 210 29% 11%;

      --secondary: 214 30% 23%;
      --secondary-foreground: 44% 57% 60%;

      --muted: 214 30% 23%;
      --muted-foreground: 44% 57% 60%;

      --accent: 214 30% 23%;
      --accent-foreground: 44% 57% 60%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 219 30% 28%;
      --input: 219 30% 28%;
      --ring: 219 30% 28%;
    }
  }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}